
#page-header{
    background-image: url(images/banner/bannerg.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content:end;
    flex-direction: column;
    padding: 14px;
    text-align: center;
}
#page-header p{
    font-size: 20px;
    color: #3c881d;
    font-weight: 700;

}
#page-header h2{
    color: #3c881d;
}
/*product*/
 
#product1{
    text-align: center;
    display: flex;
}
.pro-filter{
    flex-basis: 20%;
    margin-top: 35px;
    text-align: left;

}
.pro-filter #filter{
    padding-top: 20px;
}
.pro-filter h3,.pro-filter h5,.pro-filter label{
    text-align: left;

}
.pro-filter h3{
    font-size: 20px;
}
.pro-filter h5{
    padding-bottom: 10px;
    font-size: 20px;
}
.pro-filter label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}
.pro-filter .price-filter button{
    background-color:#6AC943;
    border:#266C0B;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    color: #fff;
    float: left;
}
.pro-container{
    flex-basis: 80%;
}
#product1 a{
    text-decoration: none;
    color: #000000;
}

#product1 .category-filte {
    display: flex;
    flex-direction: column;
}
#product1 .category-filter a {
    font-size: 15px;
    width: 180px;
    justify-content: left;
    display: block; 
    padding: 8px;
    transition: background-color 0.3s;
}
#product1 .category-filter a:hover {
    background-color: #266C0B; 
    color: #fff;
}

#product1 .pro-container{
    display:flex;
    justify-content:center;
    padding-top: 20px;
    flex-wrap:wrap;
}
#product1 .pro{
    width: 200px;
    padding: 10px 12px;
    border: 1px solid #6AC943;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 17px 0 0;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: 0.2s ease;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 90%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
}
#product1 .pro .des .star i{
    color: #eeee13;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #266C0B;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 500;
    border: 1px solid #6AC943;
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #6AC943;
    transition: color 0.3s ease;
}
#product1 .pro .cart:hover {
    color: #266C0B; 
}
/*pagination*/
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #266C0B;
    padding: 15px 20px;
    border-radius: 4px;
    color:#fff;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}
#pagination a:hover {
    background-color: #103310; 
}

#pagination a.active {
    background-color: #103310; 
}

@media (max-width: 768px){
    #product1{
        display: flex;
        flex-direction: column;
    }
    #page-header{
        height: 40vh;
    }
    #pagination a {
        padding: 10px 15px; /* Điều chỉnh padding cho các nút */
      }

}
    


